.fa-solid {
    width: 16px;
    height: 16px;
}
.navbar-toggler,.navbar-toggler:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.user_picture{
    width: 40px;
    height: 40px;
}
.side{
    position: fixed;
    z-index: 1000;
    height: 200%;
}
.side_brand{
    font-size: 30px;
}

.course{
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
    transition : all 0.3s ease-out;
}
.course:hover{
    transform: scale(1.01);
}
.no-flickr {
    -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(1000px);
}